* { box-sizing: border-box; }
body {
  font-family: sans-serif;
  color: white;
  margin: 0;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 60px auto;
  height: 100vh;
}

// $medium: rgb(56, 62, 68);
// $dark: rgb(28, 29, 31);
$medium: #3b3e44;
$dark: #272a2d;

$sides: white;
$center: whitesmoke;

.area {
  &.top {
    background-color: $sides;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-bottom: 1px solid lightgray;
  }
  &.left {
    background-color: $sides;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    // box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);
    border-right: 1px solid lightgray;
  }
  &.center {
    background-color: $center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.logo {
  padding: 15px 25px;
  // opacity: .3;
}
